body {
	background-color: #333;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 5%;
}

h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 5%;
}

#image {
	margin: 5%;
}

/*#startButton {
	visibility: hidden;
}*/